In [1]:
import xlrd
import pandas as pd

In [2]:
path = "../patient_data/刺激参数（第一批次）.xlsx"
df = pd.read_excel(path,engine='openpyxl')

In [3]:
df

,姓名,性别,年龄,刺激1,完成时间1,备注,刺激2,完成时间2,备注.1,刺激3,完成时间3,备注.2,刺激4,完成时间4,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,曾刚,男,13,2,20220216,NaN,3,20220218,NaN,4,20220221,NaN,1,20220223,NaN,NaN,NaN,NaN
1,杜娇,女,29,4,20220316,NaN,1,20220318,NaN,3,20220325,NaN,2,20220321,NaN,NaN,NaN,NaN
2,何富桂,女,53,1,20220221,NaN,4,20220225,NaN,3,20220228,NaN,2,20220302,NaN,NaN,NaN,NaN
3,黄金燕,女,24,1,20220309,NaN,3,20220311,NaN,4,20220314,NaN,2,20220316,NaN,NaN,NaN,NaN
4,黄盈雪,女,17,1,20220314,NaN,2,20220316,NaN,4,20220318,NaN,3,20220323,NaN,编号,频率（Hz）,波宽（ms）
5,雷震,男,18,3,20220321,NaN,4,20220323,NaN,1,20220325,NaN,2,20220328,NaN,1,30,0.25
6,李玉萍,女,45,3,20220216,NaN,1,20220218,NaN,4,20220221,NaN,2,20220223,NaN,2,30,0.5
7,林攀攀,男,34,2,20220221,NaN,1,20220223,NaN,3,20220225,NaN,4,20220228,NaN,3,60,0.25
8,林儒波,男,28,1,20220323,NaN,3,20220325,NaN,2,20220328,NaN,4,20220330,NaN,4,60,0.5
9,刘家瑞,女,68,4,20220225,NaN,2,20220228,NaN,3,20220302,NaN,1,20220304,NaN,NaN,NaN,NaN
10,刘世清,男,31,4,20220309,NaN,2,20220311,NaN,1,20220314,NaN,3,20220316,NaN,NaN,NaN,NaN
11,倪诗瑄,女,16,3,20220311,NaN,4,20220314,NaN,2,20220316,NaN,1,20220318,NaN,NaN,NaN,NaN
12,齐金钢,男,27,1,20220223,NaN,4,20220225,NaN,2,20220228,NaN,3,20220302,NaN,NaN,NaN,NaN
13,沈伟,男,32,4,20220311,NaN,1,20220314,NaN,2,20220316,NaN,3,20220318,NaN,NaN,NaN,NaN
14,宋志辉,男,28,3,20220318,NaN,2,20220321,NaN,1,20220323,NaN,4,20220325,NaN,NaN,NaN,NaN
15,孙彭辉,男,14,4,20220225,NaN,3,20220228,NaN,1,20220302,NaN,2,20220304,NaN,NaN,NaN,NaN
16,王纯钢,男,15,2,20220321,NaN,4,20220323,NaN,3,20220325,NaN,1,20220328,NaN,NaN,NaN,NaN
17,王宜凡,男,22,4,20220318,NaN,3,20220321,NaN,2,20220323,NaN,1,20220325,NaN,NaN,NaN,NaN
18,肖星星,男,30,1,20220325,NaN,2,20220328,NaN,3,20220330,NaN,4,20220401,NaN,NaN,NaN,NaN
19,肖智华,男,48,3,20220225,NaN,2,20220228,NaN,4,20220302,NaN,1,20220307,NaN,NaN,NaN,NaN
20,徐珍英,女,50,3,20220218,NaN,1,20220221,NaN,2,20220223,NaN,4,20220225,NaN,NaN,NaN,NaN
21,张璐,女,29,2,20220225,NaN,3,20220228,NaN,1,20220302,NaN,4,20220304,NaN,NaN,NaN,NaN
22,赵丽兰,女,35,2,20220225,NaN,1,20220228,NaN,4,20220302,NaN,3,20220304,NaN,NaN,NaN,NaN
23,周小凯,男,23,2,20220314,NaN,4,20220316,NaN,1,20220318,NaN,3,20220321,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['姓名', '性别', '年龄', '刺激1', '完成时间1', '备注', '刺激2', '完成时间2', '备注.1', '刺激3',
       '完成时间3', '备注.2', '刺激4', '完成时间4', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [5]:
df=df[['姓名','性别','年龄','刺激1','完成时间1','刺激2','完成时间2','刺激3','完成时间3','刺激4','完成时间4']]

In [6]:
df

     姓名 性别  年龄  刺激1     完成时间1  刺激2     完成时间2  刺激3     完成时间3  刺激4     完成时间4
0    曾刚  男  13    2  20220216    3  20220218    4  20220221    1  20220223
1    杜娇  女  29    4  20220316    1  20220318    3  20220325    2  20220321
2   何富桂  女  53    1  20220221    4  20220225    3  20220228    2  20220302
3   黄金燕  女  24    1  20220309    3  20220311    4  20220314    2  20220316
4   黄盈雪  女  17    1  20220314    2  20220316    4  20220318    3  20220323
5    雷震  男  18    3  20220321    4  20220323    1  20220325    2  20220328
6   李玉萍  女  45    3  20220216    1  20220218    4  20220221    2  20220223
7   林攀攀  男  34    2  20220221    1  20220223    3  20220225    4  20220228
8   林儒波  男  28    1  20220323    3  20220325    2  20220328    4  20220330
9   刘家瑞  女  68    4  20220225    2  20220228    3  20220302    1  20220304
10  刘世清  男  31    4  20220309    2  20220311    1  20220314    3  20220316
11  倪诗瑄  女  16    3  20220311    4  20220314    2  20220316    1  20220318
12  齐金钢  男  27    1  20220223    4  20220225    2  20220228    3  20220302
13   沈伟  男  32    4  20220311    1  20220314    2  20220316    3  20220318
14  宋志辉  男  28    3  20220318    2  20220321    1  20220323    4  20220325
15  孙彭辉  男  14    4  20220225    3  20220228    1  20220302    2  20220304
16  王纯钢  男  15    2  20220321    4  20220323    3  20220325    1  20220328
17  王宜凡  男  22    4  20220318    3  20220321    2  20220323    1  20220325
18  肖星星  男  30    1  20220325    2  20220328    3  20220330    4  20220401
19  肖智华  男  48    3  20220225    2  20220228    4  20220302    1  20220307
20  徐珍英  女  50    3  20220218    1  20220221    2  20220223    4  20220225
21   张璐  女  29    2  20220225    3  20220228    1  20220302    4  20220304
22  赵丽兰  女  35    2  20220225    1  20220228    4  20220302    3  20220304
23  周小凯  男  23    2  20220314    4  20220316    1  20220318    3  20220321

In [7]:
df.iloc[0,3:]

刺激1             2
完成时间1    20220216
刺激2             3
完成时间2    20220218
刺激3             4
完成时间3    20220221
刺激4             1
完成时间4    20220223
Name: 0, dtype: object

In [8]:
df1=pd.DataFrame(columns=['姓名','性别','年龄','刺激参数','完成时间'])

In [9]:
#每个人有4次电刺激
stimulate_time=4

In [10]:
for i in range(df.shape[0]):
    df1.loc[stimulate_time*i]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,3],df.iloc[i,4]]
    df1.loc[stimulate_time*i+1]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,5],df.iloc[i,6]]
    df1.loc[stimulate_time*i+2]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,7],df.iloc[i,8]]
    df1.loc[stimulate_time*i+3]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,9],df.iloc[i,10]]

In [11]:
output_path=("../SE_parameter/stimulate_parameter.xlsx")

In [12]:
df1.to_excel(output_path,sheet_name="Sheet1")

In [13]:
df1

     姓名 性别  年龄 刺激参数      完成时间
0    曾刚  男  13    2  20220216
1    曾刚  男  13    3  20220218
2    曾刚  男  13    4  20220221
3    曾刚  男  13    1  20220223
4    杜娇  女  29    4  20220316
..  ... ..  ..  ...       ...
91  赵丽兰  女  35    3  20220304
92  周小凯  男  23    2  20220314
93  周小凯  男  23    4  20220316
94  周小凯  男  23    1  20220318
95  周小凯  男  23    3  20220321

[96 rows x 5 columns]