### 文件说明：处理多个批次的刺激参数,并按照中文序排序，合并为一张表，保存至 SE_parameter

In [3]:
import xlrd
import pandas as pd

In [2]:
def first_batch(path):
    df = pd.read_excel(path,engine='openpyxl')
    df=df[['姓名','性别','年龄','刺激1','完成时间1','刺激2','完成时间2','刺激3','完成时间3','刺激4','完成时间4']]
    df1=pd.DataFrame(columns=['姓名','性别','年龄','刺激参数','完成时间'])
    #每个人有4次电刺激
    stimulate_time=4
    for i in range(df.shape[0]):
        df1.loc[stimulate_time*i]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,3],df.iloc[i,4]]
        df1.loc[stimulate_time*i+1]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,5],df.iloc[i,6]]
        df1.loc[stimulate_time*i+2]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,7],df.iloc[i,8]]
        df1.loc[stimulate_time*i+3]=[df.iloc[i,0],df.iloc[i,1],df.iloc[i,2],df.iloc[i,9],df.iloc[i,10]]
    return df1

In [3]:
def second_batch(path):
    df = pd.read_excel(path,engine='openpyxl')
    df=df[['姓名','刺激方案','治疗时间']]
    df=df.rename(columns={'刺激方案':'刺激参数','治疗时间':'完成时间'})
    return df

In [4]:
path = "../patient_data/刺激参数（第一批次）.xlsx"
df1 = first_batch(path)

In [5]:
path = "../patient_data/刺激参数（第二批次改）.xlsx"
df2 = second_batch(path)

In [6]:
df = df1.append(df2)
df = df.reset_index(drop=True)

In [7]:
output_path=("../SE_parameter/stimulate_parameter.xlsx")
df.to_excel(output_path,sheet_name="batch1&2")

In [8]:
df1.to_excel("../SE_parameter/batch1_stimulate_parameter.xlsx",sheet_name="batch1")
df2.to_excel("../SE_parameter/batch2_stimulate_parameter.xlsx",sheet_name="batch2")

In [10]:
df

      姓名   性别   年龄 刺激参数      完成时间
0     曾刚    男   13    2  20220216
1     曾刚    男   13    3  20220218
2     曾刚    男   13    4  20220221
3     曾刚    男   13    1  20220223
4     杜娇    女   29    4  20220316
..   ...  ...  ...  ...       ...
185   周博  NaN  NaN    3  20220422
186  周牧涵  NaN  NaN    2  20220511
187  周牧涵  NaN  NaN    1  20220513
188  周牧涵  NaN  NaN    3  20220516
189  周牧涵  NaN  NaN    4  20220518

[190 rows x 5 columns]